OTP_SECRET=
OTP_TTL_MINUTES=10
OTP_FROM_EMAIL=Rota & Salary Tracker <rota.salary.tracker@gmail.com>
OTP_REPLY_TO_EMAIL=rota.salary.tracker@gmail.com
RESEND_API_KEY=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=rota.salary.tracker@gmail.com
BREVO_SENDER_NAME=Rota & Salary Tracker
BREVO_REPLY_TO_EMAIL=rota.salary.tracker@gmail.com
